body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #fefafa;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-style: italic;
    color: #5997df;
    font-size: xx-large;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0f7fa;
    padding: 40px;
}

.text-content {
    max-width: 600px;
}

.text-content h1 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-content p {
    margin: 20px 0;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;

}

.image-content img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px
}