<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" th:href="@{/css/listarPessoas.css}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Lista de Usuários</h1>
            <!-- <button class="btn-novo-usuario">Novo Usuário</button>  -->
        </header>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Rua</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>CEP</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                <tr th:each="pessoa : ${pessoas}">
                    <td th:text="${pessoa.id}">ID</td>
                    <td th:text="${pessoa.nome}">Nome</td>
                    <td th:text="${pessoa.idade}">Idade</td>
                    <td th:text="${pessoa.endereco != null ? pessoa.endereco.rua : 'N/A'}">Rua</td>
                    <td th:text="${pessoa.endereco != null ? pessoa.endereco.cidade : 'N/A'}">Cidade</td>
                    <td th:text="${pessoa.endereco != null ? pessoa.endereco.estado : 'N/A'}">Estado</td>
                    <td th:text="${pessoa.endereco != null ? pessoa.endereco.cep : 'N/A'}">CEP</td>


                    <td>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-deletar">Deletar</button>
                    </td>
                </tr>

            </tbody>
        </table>

        <!-- Formulário para limpar o banco de dados e a lista em memória -->
        <form th:action="@{/limparDados}" method="post">
            <button type="submit">Limpar Dados</button>
        </form>
    </div>
</body>

</html>