<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Bonito</title>

    <link rel="stylesheet" th:href="@{/css/formPessoa.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="content">
        <h2>Cadastro</h2>
        <form th:action="@{/pessoas}" th:object="${pessoas}" method="POST">
            <div class="input-box">
                <input type="text" placeholder="Nome" id="nome" th:field="*{nome}" required>
                <i class="bi bi-person"></i>
            </div>

            <div class="input-box">
                <input type="number" placeholder="Idade" id="idade" th:field="*{idade}" required>
                <i class="bi bi-calendar-minus"></i>
            </div>

            <h2>Endereço</h2>
            <div class="input-box">
                <input type="text" placeholder="Cep" id="cep" th:field="*{endereco.cep}" required>
                <i class="bi bi-geo-alt"></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Estado" id="estado" th:field="*{endereco.estado}" required>
                <i class="bi bi-map"></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Cidade" id="cidade" th:field="*{endereco.cidade}" required>
                <i class="bi bi-pin-map"></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Rua" id="rua" th:field="*{endereco.rua}" required>
                <i class="bi bi-compass"></i>
            </div>

            <input type="submit" value="Salvar" class="btn">
        </form>
    </div>
</body>

</html>