<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Informações</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>  
    <header>  
        <nav>  
            <ul>  
                <li>cadastro</li>  
            </ul>  
        </nav>  
    </header>  

    <main>  
        <section class="hero">  
            <div class="text-content">  
                <h1>Cadastre-se e descubra benefícios exclusivos que só nossos membros têm.</h1>  
                <p>É rápido, leva apenas alguns minutos e o acesso é super fácil!</p>  
            </div>  

            <div class="image-content">  
                <img th:src="@{/images/index.png}" alt="cadastro">
            </div>  
        </section>  

        <section class="footer">  
            <p>Clique no botão abaixo e acesse a página de cadastro.</p>  
                     
            <a href="pessoas">CLIQUE AQUI!</a>  
        </section>  
    </main>  
</body> 

</html>
